<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <!-- Page Title -->
    <title>웹 페이지 제목</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/favicon.png" type="image/png">

    <!-- Open Graph Meta Tag -->
    <!-- 
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content=""> 
        -->

    <!-- Boostrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Boostrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- 공통 JS -->
    <script src="/static/js/script.js"></script>

    <style>

        .form-label {
            margin-bottom: -12px;
        }

        .form-control {
            background-color: #f9f9f9;
            margin-bottom: 12px;
        }

        .form-select {
            background-color: #f9f9f9;
            margin-bottom: 12px;
        }

        .title {
            background: linear-gradient(135deg, #ffd6dc, #fff8e0);

        }

        .profile {
            /* background-color: bisque; */
            justify-content: center;
            align-items: center;
        }

        .profile>.profile_body {
            /* background-color: #ffd6dc; */
            margin: 0rem 8rem 0rem 8rem;
            align-items: center;
        }

        .upload_photo {
            /* background-color: magenta; */
            text-align: center;
            margin: 6.25rem;
        }

        .form {
            /* background-color: #c0e0ff; */
            align-items: center;
            justify-content: center;
            margin: 4rem 0rem 4rem 0rem;
        }

        .upload_photo>.card-img-top {
            /* background-color: blanchedalmond; */
            width: 12.5rem;
            height: 19.5rem;
        }

    </style>

    <script>
        // 이미지 업로드 추가!!!
        function save_profile() {
            let MBTI = $("#MBTI").val();
            let location = $("#location").val();
            let social_list = $("#social_list").val();
            let specialty = $("#specialty").val();
            let interest = $("#interest").val();
            let program = $("#program").val();
            let course = $("#course").val();
            let cohort = $("#cohort").val();
            let team = $("#team").val();
            let image = $("#image").val();
            let resolution = $("#resolution").val();
            let formData = new FormData();

            formData.append("uid", localStorage.getItem(KEY_USER_ID));
            formData.append("MBTI_give", MBTI);
            formData.append("location_give", location);
            formData.append("social_give", social_list);
            formData.append("specialty_give", specialty);
            formData.append("interest_give", interest);
            formData.append("program_give", program);
            formData.append("course_give", course);
            formData.append("cohort_give", cohort);
            formData.append("team_give", team);
            formData.append("image_give", image);
            formData.append("resolution_give", resolution);

            fetch('/register', {
                method: "POST",
                body: formData,
            })
                .then((res) => res.json())
                .then((data) => {
                    alert(data["msg"]);
                    window.location.replace=('/');
                });
        }
    </script>

</head>

<body>

    <header>
        {% include "header.html" %}
    </header>
    
    <div class="title">
        <div class="profile">
            <div class="profile_body row">
                <div class="form row col-6">
                    <!-- 사진 미리보기 위에 PROFILE 추가 -->
                    <!-- img 좌우 여백 넣기! -->
                    <form class="upload_photo">
                        <img id="preview" class="card-img"
                            src="/static/img/profile.png" alt="미리보기" />
                        <br /><br />
                        <div class = "col-12">
                            <label for="resolution" class="form-label">하고 싶은 말</label>
                            <textarea class="form-control" id="resolution"></textarea>
                        </div>
                        <div class="col-12">
                            <!-- post -->
                            <button onclick="save_profile()" class="btn btn-dark">등록</button>
                            <!-- 홈으로 이동 -->
                            <button onclick="location.href='/'" type="button" class="btn btn-outline-dark">다음에
                                등록</button>
                        </div>                     
                    </form>
                </div>
                <!-- 좌우 여백 주기 -->
                <div class="form row col-6">
                        <legend>프로필 등록하기</legend>
                        <div class = "col-12">
                            <label for="image" class="form-label">image URL</label>
                            <input type="text" class="form-control" id="image">
                        </div>
                        <div class="col-12">
                            <label for="MBTI" class="form-label">MBTI</label>
                            <select id="MBTI" class="form-select">
                                <option selected>선택</option>
                                <option>ISTJ</option>
                                <option>INTJ</option>
                                <option>ESTJ</option>
                                <option>ENTJ</option>
                                <option>ISTP</option>
                                <option>INTP</option>
                                <option>ESTP</option>
                                <option>ENTP</option>
                                <option>ISFJ</option>
                                <option>INFJ</option>
                                <option>ESFJ</option>
                                <option>ENFJ</option>
                                <option>ISFP</option>
                                <option>INFP</option>
                                <option>ESFP</option>
                                <option>ENFP</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="location" class="form-label">location</label>
                            <input type="text" class="form-control" id="location">
                        </div>
                        <div class="col-12">
                            <label for="social_list" class="form-label">social</label>
                            <input type="text" class="form-control" id="social_list">
                        </div>
                        <div class="col-12">
                            <label for="specialty" class="form-label">specialty</label>
                            <select id="specialty" class="form-select">
                                <option selected>선택</option>
                                <option>React</option>
                                <option>Spring</option>
                                <option>Node.js</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="interest" class="form-label">interest</label>
                            <input type="text" class="form-control" id="interest">
                        </div>
                        <div class="col-12">
                            <label for="program" class="form-label">program</label>
                            <input type="text" class="form-control" id="program" placeholder="항해">
                        </div>
                        <div class="col-12">
                            <label for="cohort" class="form-label">cohort</label>
                            <input type="text" class="form-control" id="cohort" placeholder="16기">
                        </div>
                        <div class="col-12">
                            <label for="course" class="form-label">course</label>
                            <input type="text" class="form-control" id="course" placeholder="웹 미니 프로젝트">
                        </div>
                        <div class="col-12">
                            <label for="team" class="form-label">team</label>
                            <input type="text" class="form-control" id="team" placeholder="5조">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>