<style>
    :root {
        --header-height: 70px
    }
    #header-root {
        background-color: gray;

        height: var(--header-height);

        padding: calc(var(--header-height) * 0.05);

        margin-bottom: 10px;
    }

    .stack {
        display: flex;
        flex-direction: row-reverse;
    }

    #header-logo {
        width: calc(var(--header-height) * 0.75);

        margin: calc(var(--header-height) * 0.05);
    }
    #header-profile-image {
        width: calc(var(--header-height) * 0.75);

        margin: calc(var(--header-height) * 0.05);
    }
    #header-btn-logout {
        color: white;
    }

    .rounded-image {
        border-radius: 50%;
        overflow: hidden;
    }

    .clickable {
        cursor: pointer;
    }
</style>
<script>
    function handleLogout() {
        localStorage.setItem(KEY_USER_ID, '')
        localStorage.setItem(KEY_JWT, '')

        window.location.href = '/login'
    }

    function navigate(url) {
        window.location.href = url
    }

    $(document).ready(() => {
        is_user_logined(() => {
            $('#header-profile-image').attr('src', LOGIN_USER_INFO.profile_image)
        })
    })
</script>
<div id="header-root">
    <div class="row">
        <div id="nav-left" class="col">
            <div onclick="navigate('/')" class="clickable">
                <img id="header-logo" src="/static/img/logo.png">
            </div>
        </div>
    
        <div id="nav-mid" class="col">
            
        </div>
    
        <div id="nav-right" class="col stack">
            <div onclick="navigate('/profile/me')" class="clickable">
                <img id="header-profile-image" class="rounded-image" src="https://static.thenounproject.com/png/5034901-200.png">
            </div>
            <button id="header-btn-logout" class="btn" onclick="handleLogout()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                Log Out
            </button>
        </div>
    </div>
</div>