<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Page Title -->
    <title>웹 페이지 제목</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/favicon.png" type="image/png">

    <!-- Open Graph Meta Tag -->
    <!-- 
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content=""> 
        -->

    <!-- Boostrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Boostrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <style>

    </style>


    <!-- 공통 JS -->
    <script src="/static/js/script.js"></script>
    <script>

        $(document).ready(function () {
            cards_listing();
        });

        // Eric -> Yoonju : 카드 등록하기 누르면 이동
        function resiger_card(url) {
            // $('#post-box').show()
            window.location.href = url
        }
        
        // Eric : DB에서 받아온 카드 리스팅하기
        function cards_listing() {
            fetch('/cards_get').then((res) => res.json()).then((data) => {
                let rows = data['result']
                console.log(rows)

                $('#cards-box').empty()
                rows.forEach((a) => {
                    let user_id = a['user_id']
                    let nickname = a['user_nickname']

                    let mbti = a['MBIT']
                    let location = a['location']
                    let social_list_fb = a['social_list']['facebook']
                    let social_list_github = a['social_list']['github']
                    let specialty = a['specialty']
                    let interset = a['interest']
                    let likes = a['likes']

                    let program = a['program']
                    let course = a['course']
                    let cohort = a['cohort']
                    let team = a['team']

                    let profile_image = a['profile_image']


                    let temp_html =
                                                `<div class="col">
                                                    <div class="card h-100">
                                                        <img src="${profile_image}" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <h2 class="nickname"> 닉네임: ${nickname}</h2>
                                                            <p class="mbti"> MBTI: ${mbti}</p>                                                
                                                            <p class="location"> 지역: ${location}</p>
                                                            <p class="social_fb"> Facebook: ${social_list_fb}</p>
                                                            <p class="social_github"> Gitbub: ${social_list_github}</p>
                                                            <p class="specialty"> 주특기: ${specialty}</p>
                                                            <p class="interest"> 관심사/취미: ${interset}</p>
                                                            
                                                            <p class="program"> 프로그램: ${program}</p>                                                
                                                            <p class="course"> 수강코스: ${course}</p>
                                                            <p class="cohort"> 기수: ${cohort}기 </p>
                                                            <p class="team"> ${team} 팀들</p>
                                                            
                                                            <button id="like_btn" type="button" class="btn btn-outline-primary" onclick="addLike(4)"> 하트(이미지로 변경 예정)</button>
                                                            <p class="likes"> 좋아요 ${likes}개 </p>
                                                            <button id="more_btn" class="btn btn-primary">더보기</button>
                                                        </div>
                                                    </div>
                                                </div>`

                    $('#cards-box').append(temp_html)
                })
            })
        }

        // --- 카드 좋아요 시작 ---
        // Operations
        function countPlus(likeCnt) {
            likeCnt++;
            document.querySelector(".like_count").innerHTML = "좋아요 " + likeCnt + "개";

            //카드 좋아요 업데이트 호출
            updateLike(likeCnt);
        }

        // POST
        function addLike(likeCnt) {
        }

        // PUT 카드 좋아요 업데이트
        function updateLike(count) {
        }
            // ---- 카드 좋아요 끝 ---

    </script>


</head>

<body>
    <header>
        {% include "header.html" %}
    </header>

    <div class="mytitle">
        <h1> Glimpse: 우리 기수 쓱 한 번에 보기 👀</h1>
    </div>

    <div class="left-navbar">
        <div class="left-navbar-menu">
            <p>category</p>
        </div>
        <div class="filter-list-group">
            <div class="category" type="button" id="category-1">
                <div> 주특기 </div>
            </div>
            <div class="category" id="category-2">
                <div> MBTI </div>
            </div>
            <div class="category" id="category-3">
                <div> 프로그램 </div>
            </div>
            <div class="category" id="category-4">
                <div> 기수 </div>
            </div>
            <div class="category" id="category-5">
                <div> 팀 </div>
            </div>

        </div>
    </div>

    <div class="body">
        <div class="cards-list">
            <h1 class="title-text"> 카드 목록</h1>
            <button onclick="resiger_card('/card/registration')">내 카드 등록하기</button>

            <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box"></div>
        </div>
    </div>


</body>

</html>