<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Page Title -->
    <title>Glimpse</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/favicon.png" type="image/png">

    <!-- Open Graph Meta Tag -->
    <!-- 
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content=""> 
        -->

    <!-- Boostrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Boostrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- 공통 JS -->
    <script src="/static/js/script.js"></script>
    <style>
        .mypic {
            width: 100%;
            height: 200px;

            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)),
                url("https://images.unsplash.com/photo-1601024445121-e5b82f020549?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
            background-position: center;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mypic>h1 {
            font-size: 30px;
        }
    </style>
    <script>
        // 댓글comment저장하기
        function save_comment() {
            let comment = $('#comment').val()

            let formData = new FormData();
            formData.append("comment_give", comment);

            fetch('/comment', { method: "POST", body: formData, }).then((response) => response.json()).then((data) => {
                alert(data["msg"]);
                window.location.reload();
            });
        }
        // 댓글comment보여주기
        $(document).ready(function () {
            show_comment();
        });
        function show_comment() {
            fetch('/comment').then(res => res.json()).then(data => {
                let rows = data['result']
                $('#comment-list').empty()
                rows.forEach((a) => {
                    let comment = a['comment']
                    let temp_html = `<li>
                                  <h2>✅ ${comment}</h2>
                              </li>`
                    $('#comment-list').append(temp_html)
                })
            })
        }
        function save_order() {
            let name = $('#name').val()
            let address = $('#address').val()
            let size = $('#size').val()

            let formData = new FormData();
            formData.append("name_give", name);
            formData.append("address_give", address);
            formData.append("size_give", size);

            fetch('/mars', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                alert(data["msg"]);
                window.location.reload()
            });
        }
        $(document).ready(function () {
            show_order();
        });
        function show_order() {
            fetch('/mars').then((res) => res.json()).then((data) => {
                let rows = data['result']
                $('#order-box').empty()
                rows.forEach((a) =>{
                    let name = a['name']
                    let address = a['address']
                    let size = a['size']

                    let temp_html = `<li>
                                        <p>이름 : ${name}</p>
                                        <p>주소 :${address}</p>
                                        <p>평수 :${size}</p>
                                        <br>
                                    </li>`
                    $('#order-box').append(temp_html)
                })
                
            })
        }
    </script>

</head>

<body>
    <div class="mypic">
        <h1>Glimpse: 우리 기수 쓱 한 번에 보기</h1>
    </div>
    <div class="order">
        <h1>PROFILE</h1>
        <h3>가격: 평 당 500원</h3>
        <p>
            화성에 땅을 사둘 수 있다고?<br />
            앞으로 백년 간 오지 않을 기회. 화성에서 즐기는 노후!
        </p>
        <div class="order-info">
            <div class="input-group mb-3">
                <span class="input-group-text">이름</span>
                <input id="name" type="text" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">주소</span>
                <input id="address" type="text" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="size">평수</label>
                <select class="form-select" id="size">
                    <option selected>-- 주문 평수 --</option>
                    <option value="10평">10평</option>
                    <option value="20평">20평</option>
                    <option value="30평">30평</option>
                    <option value="40평">40평</option>
                    <option value="50평">50평</option>
                </select>
            </div>
            <button onclick="save_order()" type="button" class="btn btn-warning mybtn">
                주문하기
            </button>
        </div>

        <div id="order-box">
            <li>
                주문내역 드러와야 함
            </li>
        </div>

    </div>
    <div class="mybox">
        <div class="mycomment">
            <input id="comment" class="form-control" type="text" placeholder="댓글 남기기👏🏻" />
            <button onclick="save_comment()" type="button" class="btn btn-outline-primary">작성하기</button>
        </div>
    </div>
    <div class="mybox" id="comment-list">
        <li>
            <h2>✨5조 최고~~~!</h2>
        </li>
    </div>
</body>

</html>