<div class="category dropdown" type="button" id="category-3">
    <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
    >프로그램</div>
    <ul class="dropdown-menu">
        {% for item in program %}
            <li><div class="dropdown-item" onclick="get_program('{{ item }}')"
                >{{ item }}</div></li>
        {% endfor %}
    </ul>
    <script>
        function get_program(item) {
            fetch(`/api/program/${item}/cards`)
            .then(a => a.json())
            .then(data => {
                let rows = data['result']
                stack_rows(rows)
            })
        }
    </script>
</div>